/*this is the fieldset design
where thewords and thier meanings are inside*/
/* #252839 #677077 #b5b5b7 #f2b632 */
#showDifficultWords {
    margin: auto;
    border-radius: 17px;
    width: 85%;
    display: block;
    direction: rtl;
    font-weight: bold;
    font-size: 3.0em;
    border: 15px solid #f2b632;
    height: 130px;
}
#showMeaningWords {
    margin: auto;
    border-radius: 17px;
    display: block;
    direction: rtl;
    width: 85%;
    font-weight: bold;
    font-size: 3.0em;
    border: 15px solid #f2b632;
    height: 130px;
}
#pressStartTraning {

    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
#pressStartTraning1 {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

#traningButtonsSection {
    width: 30%;
    margin: auto;
    border-radius: 30px;
/*    display: inline-block;*/
    padding: 50px;
    margin-left: 32%;
    margin-right: 25%;

}

.Tgame {
    width: 100%;
    background-color: #252839;
    color: #f2b632;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#stopAndResumeTheTimer{
    font-weight: bold;
    background-color: #f2b632;
    border-radius: 6px;
    color: #252839;
}
.Tgame:hover {
    background-color: #45a049;
}
#stopAndResumeTheTimer:hover{
    background-color: #45a049;
}

#timer2 {
    font-family: "Cambria Math";
    font-size: xx-large;
    text-align: center;
}

#traningButtonsSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}